.coterie {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
  
.lstCoteries_li {
  margin: 4px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}

.lstCoteries_img {
  border: solid 2px black;
  border-radius: 10px;
  width: 150px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textCoterie {
	padding: 2px;
	background-color: white;
	color: black;
	width: 150px;
	font-size: 20px;
}